<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - MLB Game Predictions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        table th:first-child,
        table td:first-child {
            width: 150px;
            /* Set a fixed width that suits your design */
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">&larr; MLB Game Predictions</a>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>About</h1>
        <p>This project is designed to attempt to predict the winner of baseball games (or prove that doing so is not
            really possible...) using machine learning. To learn more about this effort, please visit
            <a href="https://github.com/straslerj/mlb-win-predictor" target=" _blank">the GitHub repo for this
                project</a> to view source code, an architecture diagram, and further explanations.
        </p>
        <p>The point of this website is simply to visualize the progress and provide some insights into the logic behind
            the machine learning part. The details of the current state of the model can be seen in the below table.</p>
        <p><i>Disclaimer: this is really a preliminary model -- I wasn't actually planning to try and predict anything
                until the 2024 season and was going to build the model in the offseason. Why am I saying this? Mostly, I
                don't want you to judge me for my model's lackluster performance, but I also hope you keep coming back
                to see if there have been any improvements.</i></p>
        <table style="width: 100%; text-align: center;">
            <tr>
                <th colspan="2">All Stats Model</th>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ date_created }}</td>
            </tr>
            <tr>
                <th>Model Type</th>
                <td>{{ model_type }}</td>
            </tr>
            <tr>
                <th>Parameters Used</th>
                <td>{{ parameters_used }}</td>
            </tr>
            <tr>
                <th>Parameter Count</th>
                <td>{{ parameter_count }}</td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td>{{ accuracy }}</td>
            </tr>
            <tr>
                <th>Training Set Size</th>
                <td>{{ training_set_size }}</td>
            </tr>
            <tr>
                <th>Testing Set Size</th>
                <td>{{ testing_set_size }}</td>
            </tr>
        </table>

        <table style="width: 100%; text-align: center;">
            <tr>
                <th colspan="2">Old-School Stats Model</th>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ old_school_date_created }}</td>
            </tr>
            <tr>
                <th>Model Type</th>
                <td>{{ old_school_model_type }}</td>
            </tr>
            <tr>
                <th>Parameters Used</th>
                <td>{{ old_school_parameters_used }}</td>
            </tr>
            <tr>
                <th>Parameter Count</th>
                <td>{{ old_school_parameter_count }}</td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td>{{ old_school_accuracy }}</td>
            </tr>
            <tr>
                <th>Training Set Size</th>
                <td>{{ old_school_training_set_size }}</td>
            </tr>
            <tr>
                <th>Testing Set Size</th>
                <td>{{ old_school_testing_set_size }}</td>
            </tr>
        </table>


        <table style="width: 100%; text-align: center;">
            <tr>
                <th colspan="2">Modern Stats Model</th>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ modern_date_created }}</td>
            </tr>
            <tr>
                <th>Model Type</th>
                <td>{{ modern_model_type }}</td>
            </tr>
            <tr>
                <th>Parameters Used</th>
                <td>{{ modern_parameters_used }}</td>
            </tr>
            <tr>
                <th>Parameter Count</th>
                <td>{{ modern_parameter_count }}</td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td>{{ modern_accuracy }}</td>
            </tr>
            <tr>
                <th>Training Set Size</th>
                <td>{{ modern_training_set_size }}</td>
            </tr>
            <tr>
                <th>Testing Set Size</th>
                <td>{{ modern_testing_set_size }}</td>
            </tr>
        </table>


    </div>




    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>

</html>