<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - MLB Game Predictions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        table th:first-child,
        table td:first-child {
            width: 150px;
            /* Set a fixed width that suits your design */
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">&larr; MLB Game Predictions</a>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>About</h1>
        <p>This project originated as a way to see if there was a difference in prediction power between old-school
            baseball pitcher statistics and the newer, SABR-style metrics (the results of models using different
            parameters can be seen below). I decided a logical extension of this would
            be a front end where game predictions, and their accuracies, are displayed. </p>
        <p>To learn more about this effort, please visit
            <a href="https://github.com/straslerj/mlb-win-predictor" target=" _blank">the GitHub repo for this
                project</a> to view source code, an architecture diagram, and further explanations.
        </p>
        <h2>Shortcomings</h2>
        <p>As it turns out, predicting the winner of a baseball game is hard. It's even harder if you only use half a
            dozen or so statistics regarding the starting pitchers. As one could imagine, these statistics hardly paint
            the whole picture of a baseball game -- I mean, it doesn't even take into account the batting of an opposing
            team, not to mention the hundreds of other factors that go into a baseball game. I recognize these
            shortcomings as well as the lackluster prediciton results. I have considered amending my data to have more
            features but I would like to stick using statistics from <em>before</em> the game starts. </p>
        <style>
            .stats-table {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        </style>
        <h2>Model Results</h2>
        <table class="stats-table">
            <th colspan="2">All Stats Model</th>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ date_created }}</td>
            </tr>
            <tr>
                <th>Model Type</th>
                <td>{{ model_type }}</td>
            </tr>
            <tr>
                <th>Parameters Used</th>
                <td>{{ parameters_used }}</td>
            </tr>
            <tr>
                <th>Parameter Count</th>
                <td>{{ parameter_count }}</td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td>{{ accuracy }}</td>
            </tr>
            <tr>
                <th>Training Set Size</th>
                <td>{{ training_set_size }}</td>
            </tr>
            <tr>
                <th>Testing Set Size</th>
                <td>{{ testing_set_size }}</td>
            </tr>
        </table>

        <table class="stats-table">
            <tr>
                <th colspan="2">Old-School Stats Model</th>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ old_school_date_created }}</td>
            </tr>
            <tr>
                <th>Model Type</th>
                <td>{{ old_school_model_type }}</td>
            </tr>
            <tr>
                <th>Parameters Used</th>
                <td>{{ old_school_parameters_used }}</td>
            </tr>
            <tr>
                <th>Parameter Count</th>
                <td>{{ old_school_parameter_count }}</td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td>{{ old_school_accuracy }}</td>
            </tr>
            <tr>
                <th>Training Set Size</th>
                <td>{{ old_school_training_set_size }}</td>
            </tr>
            <tr>
                <th>Testing Set Size</th>
                <td>{{ old_school_testing_set_size }}</td>
            </tr>
        </table>


        <table class="stats-table">
            <tr>
                <th colspan="2">Modern Stats Model</th>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ modern_date_created }}</td>
            </tr>
            <tr>
                <th>Model Type</th>
                <td>{{ modern_model_type }}</td>
            </tr>
            <tr>
                <th>Parameters Used</th>
                <td>{{ modern_parameters_used }}</td>
            </tr>
            <tr>
                <th>Parameter Count</th>
                <td>{{ modern_parameter_count }}</td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td>{{ modern_accuracy }}</td>
            </tr>
            <tr>
                <th>Training Set Size</th>
                <td>{{ modern_training_set_size }}</td>
            </tr>
            <tr>
                <th>Testing Set Size</th>
                <td>{{ modern_testing_set_size }}</td>
            </tr>
        </table>


    </div>




    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>

</html>